/*
 * Import Bootstrap
 */
@import "css/bootstrap.min.css";

/*
 * Import colors
 */

@import "color.css";

body{
	padding-top: 20px;
}

.footer {
	border-top: 1px solid #CCC;
  margin-top: 40px;
  padding-bottom: 20px;
  padding-top: 10px;	
}

